<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.HelloWorld"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> -->

    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!--
             <activity android:name=".MyActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name="com.example.HelloWorld.MainListActivity"
            android:label="MainList" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.HelloWorld.SecondActivity"
            android:label="@string/title_activity_second" >
        </activity>
        <activity
            android:name="com.example.HelloWorld.FirstActivity"
            android:label="@string/title_activity_first" >
        </activity>
        <activity
            android:name="com.example.HelloWorld.HashListAcitivity"
            android:label="@string/title_activity_hash_list_acitivity" >
        </activity>
        <activity
            android:name="com.example.HelloWorld.FirstTabActivity"
            android:label="@string/title_activity_first_tab" >
        </activity>
        <activity
            android:name="com.example.HelloWorld.CustomListActivity"
            android:label="@string/title_activity_custom_list"
            android:parentActivityName="android.app.ListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>
    </application>

</manifest>